In [1]:
import pandas as pd
import glob

# Define a function to clean each dataset
def clean_dataset(df):
    # Rename columns to a consistent format
    df.rename(columns={
        'Order ID': 'Order_ID',
        'Quantity Ordered': 'Quantity_Ordered',
        'Price Each': 'Price_Each',
        'Order Date': 'Order_Date',
        'Purchase Address': 'Purchase_Address'
    }, inplace=True)
    
    # Convert columns to the correct data types
    df['Order_ID'] = df['Order_ID'].astype(str)
    df['Quantity_Ordered'] = pd.to_numeric(df['Quantity_Ordered'], errors='coerce')
    df['Price_Each'] = pd.to_numeric(df['Price_Each'], errors='coerce')
    df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')
    
    return df

# Assuming all files are stored in a folder
file_paths = glob.glob('data/*.csv')

# Read and clean each dataset, then concatenate them
all_data = pd.concat([clean_dataset(pd.read_csv(file)) for file in file_paths], ignore_index=True)

# Save the concatenated data to a new CSV file (optional)
all_data.to_csv('cleaned_data.csv', index=False)

# Check the resulting dataframe
print(all_data.info())
print(all_data.head())

C:\Users\DELL\AppData\Local\Temp\ipykernel_25084\911080447.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')
C:\Users\DELL\AppData\Local\Temp\ipykernel_25084\911080447.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')
C:\Users\DELL\AppData\Local\Temp\ipykernel_25084\911080447.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')
C:\Users\DELL\AppData\Local\Temp\ipykernel_25084\911080447.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')
C:\Users\DELL\AppData\Local\Temp\ipykernel_25084\911080447.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')
C:\Users\DELL\AppData\Local\Temp\ipykernel_25084\911080447.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order_ID          186850 non-null  object
 1   Product           186305 non-null  object
 2   Quantity_Ordered  185950 non-null  float64
 3   Price_Each        185950 non-null  float64
 4   Order_Date        185950 non-null  datetime64[ns]
 5   Purchase_Address  186305 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 8.6+ MB
None
  Order_ID                     Product  Quantity_Ordered  Price_Each  \
0   176558        USB-C Charging Cable               2.0       11.95
1      nan                         NaN               NaN         NaN
2   176559  Bose SoundSport Headphones               1.0       99.99
3   176560                Google Phone               1.0      600.00
4   176560            Wired Headphones               1.0       11.99

           Order_Date                      Purchase_Address
0 2019-04-19 08:46:00          917 1st St, Dallas, TX 75001
1                 NaT                                   NaN
2 2019-04-07 22:30:00     682 Chestnut St, Boston, MA 02215
3 2019-04-12 14:38:00  669 Spruce St, Los Angeles, CA 90001
4 2019-04-12 14:38:00  669 Spruce St, Los Angeles, CA 90001

In [2]:
combined_df= pd.read_csv('cleaned_data.csv')

In [3]:
combined_df

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,176558,USB-C Charging Cable,2.0,11.95000,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1.0,99.99000,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1.0,600.00000,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1.0,11.99000,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353.0,AAA Batteries (4-pack),3.0,2.99000,2017-09-19 20:56:00,"840 Highland St, Los Angeles, CA 90001"
186846,259354.0,iPhone,1.0,700.00000,2001-09-19 16:00:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355.0,iPhone,1.0,700.00000,2023-09-19 07:39:00,"220 12th St, San Francisco, CA 94016"
186848,259356.0,34in Ultrawide Monitor,1.0,379.98999,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016"
186849,259357.0,USB-C Charging Cable,1.0,11.95000,2030-09-19 00:18:00,"250 Meadow St, San Francisco, CA 94016"